<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>ChessAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
</head>
<body>
    <div id="board1" style="width: 400px"></div>

    <button id="restartButton">Restart</button>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chess_interface.js') }}"></script>
</body>
</html>
